<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jitender Shekhawat's Blog - $title$</title>
        <link type="text/css" rel="stylesheet" href="/styles.css" />        
    </head>
    <body>
        <div class="container">
            <div class="nav">
                <h3><a href="/">Jitender Shekhawat</a></h3>
                <div class="menu">                            
                    <a href="/notes.html">Notes</a>
                    <a href="/archive.html">Archive</a>
                    <a href="/about.html">About</a>
                </div>
            </div>        
            <main class="post" role="main">            
                $body$
            </main>        
            <footer class="footer">
                <hr/>
                Tools used for the site
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                <div style="display:inline">& </div>
                <a href="https://github.com/edwardtufte/tufte-css">Tufte-Css</a>
            </footer>        
        </div>                    
    </body>
</html>
